@{
    ViewBag.Title = "Home Page";
}

    <div class="row" style=" margin:25% auto;">
        <div class="col-md-4">
            <h2>Different categories</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="/Categories">Check them out &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>A lot of courses</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="/Courses">Check them out &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Forum</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="/Forums">Check them out &raquo;</a></p>
        </div>
    </div>
