@model IEnumerable<platforma.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>All Courses:</h2>

@{
    if (Session["userType"] == "admin" || Session["userType"] == "instructor")
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
<table class="table">
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @{
            if (Session["userType"] == "admin" || Session["userType"] == "instructor")
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            }
        }
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
    }

</table>
