@model IEnumerable<platforma.Models.Course>

@{
    ViewBag.Title = "MyCourses";
}

<h2>My Courses:</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @{
            if (Session["userType"].Equals("student"))
            {
                <td>
                    @Html.ActionLink("Start Course", "WatchCourse", new { id = item.Id })
                </td>
            }
        }
    </tr>
}

</table>
