@model platforma.Models.Video

@{
    ViewBag.Title = "PlayVideo";
}

<h3>@Model.Name</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dd>
            <video width="700" height="350" controls>
              <source src="@Model.PathVideo" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </dd>

    </dl>
</div>